[2011-08-23 21:34] keyboardsurfer opened #1 "The submodule 'website' is not functional and not rolled out"
The submodule mentioned above should be expanded in functionality and then rolled out to create new view of the immopoly website.

[2011-09-07 19:11] tresbjorn opened #2 "Mapview invalidate loop"
Wenn der map_marker_popup zu sehen ist, befindet sich scheinbar die ganze GUI
inkl. MapView in einem invalidate-redraw loop. Das wird nicht (offensichtlich)
von unserem Code ausgelöst. War auch schon vor björn's cluster commit so... :-)

[2011-09-07 19:47] yncyrydybyl opened #3 "maven integration"
Having corresponding pom.xml files for the project and some documentation how to use it.

[2011-09-07 19:54] tobibo opened #4 "License Header for ImageDownloader"
Add license header from original image downloader.

http://code.google.com/p/android-imagedownloader/source/browse/trunk/src/com/example/android/imagedownloader/ImageDownloader.java

[2011-09-07 21:09] tobibo opened #5 "Anzahl Expose Flat in MapView"
Wir nehmen im Moment nur 4 \* 20 Wohnungen.

Wir müssen die Anzahl dynamischer laden. Eigentlich sind die Ergebnisse 1000 und mehr :)

[2011-09-07 21:13] tobibo opened #6 "Caching der Daten"
Daten nicht bei immer wieder neu laden, also rotation, activity wechsel sollte nur alle 10 min erneut geladen werden, die Zeit kann auch kleverer gewählt werden.

Generell Besseres caching.

[2011-09-07 22:39] stefanhoth opened #7 "Password forgotten Link"
If a user does not remember a password it should be possible to set a new one or get the old.

[2011-09-07 22:40] stefanhoth commented on #7
Dieses Ticket ist in Ticket #24 genauer beschreiben.

-Closed-

[2011-09-07 22:40] #7 closed, assigned to tobibo

[2011-09-07 22:43] stefanhoth opened #8 "Nächtliche Berechnung unvollständig"
die letzten Wochen kam es immer wieder vor, dass die Berechnung für eine Person nicht vollständig durchgeführt wurde. Zuletzt wurde beobachtet, dass die Berechnung nach 45 Sekunden abkackt.
- IS24 meinte es kommt danach kein Request mehr an
- Ich konnte keine Exception (zum Beispiel DeadlineExceededException) in der AppEngine feststellen.
- Seitdem IS24 gestern in den logs geschaut hat geht es ans

[2011-09-07 22:43] stefanhoth commented on #8
@mrschtief:
lief jetzt einige Tage ohne Fehler durch. Keine Ahnung woran es lag

[2011-09-07 22:43] #8 closed, assigned to mrschtief

[2011-09-07 22:47] stefanhoth opened #9 "eigene wohnungen auf karte zeigen"
alle wohnungen auf der karte anzeigen, nicht nur die im aktuellen umkreis?

[2011-09-07 22:48] stefanhoth commented on #9
So lange es wirklich nur die eigenen sind, hätte ich nichts dagegen einzuwenden.

[2011-09-07 22:49] stefanhoth opened #10 "Sign-in mit OAuth"
Sign-in mit Twitter, FB, G+, IS24...

Ja, das hab ich mir gewünscht. Aus IS24-Sicht wäre aber wohl eher Verbindung der Accounts von Immopoly und IS24 sinnvoll, um interne IS24-Funktionen im Profil aus Immopoly (z.B. Wohnung auf Merkliste setzen) ausführen zu können.

[2011-09-07 22:50] stefanhoth opened #11 "Wohnungscluster anzeigen"
meist gibt es mehrere Wohnungen auf der gleichen location, hier muss geclustert werden und dem Spieler angezeigt werden, dass es mehrerer Wohnungen gibt, diese können dann z.b. in der unteren Leiste durchgescrollt werden,.

[2011-09-07 22:51] stefanhoth commented on #11
Oh ja, da habe ich auch schon abgekotzt und mich wundgetippt an manchen stellen. Die Idee mit dem Durchscrollen finde ich gut. Evtl. ginge auch ein Overlay mit einem ListView.

Auf jeden Fall ist es als Bug zu betrachten, dass man nicht alle verfügbaren Wohnungen auswählen kann.

[2011-09-07 22:51] stefanhoth commented on #11
@tresbjorn:
Reinzoomen geht ja, wenns nicht wirklich die gleiche Addresse ist. Bei Clustern dann vielleicht anderes Icon oder ne Ziffer oder ein Pluszeichen auf dem Icon.

[2011-09-07 22:51] stefanhoth commented on #11
@tresbjorn:
closed, baby !

[2011-09-07 22:51] #11 closed, assigned to tresbjorn

[2011-09-07 22:53] stefanhoth opened #12 "Neue Wohnungen auf der Karte markieren"
@mrschtief:
können wir neue Wohnungen auf der Karte besonders hervorheben? oder das alter des Exposes irgendwie darstellen?

[2011-09-07 22:53] stefanhoth commented on #12
Die erste Frage ist vielleicht ob wir das wollen!?

Derzeit ist es doch so, dass es ein bißchen Ostern und Memory ist, nicht besetzte Wohnungen zu finden.

Es wäre imho eher eine gute Idee für ein Item für eine bestimmte Zeit/ein Skill besetzte Wohnungen zu erkennen.

[2011-09-07 22:54] stefanhoth opened #13 "Alter der Exposes im Portfolio anzeigen"
@mrschtief:

Die Daten wann übernommen wurde sind vorhanden

[2011-09-07 22:56] stefanhoth commented on #13
@mrschtief:
[2 commits]

es gibt jetzt 3 bilder house_icon/_new/_old/ohne new wenn modifcation date < als eine woche bis 1 monat ohne danach old

[div weitere commits]

[2011-09-07 22:56] #13 closed, assigned to nobody

[2011-09-07 22:56] stefanhoth opened #14 "Wohnung wieder abgeben"
Es sollte möglich sein, die Maklerschaft für eine Wohnung wieder aufzugeben.

Das ist für andere Ideen für das Spielverhalten Vorraussetzung.

[2011-09-07 22:57] stefanhoth commented on #14
@mrschtief:

+1 wir sollten hier eine Strafzahlung vorsehen

[2011-09-07 22:57] stefanhoth opened #15 "Website aufhübschen und Mobilversion"
Ich hatte bereits einmal einen Grobentwurf für eine "hübschere" Webseite gemacht und @tobibi und @mrschtief gezeigt. Die Anpassung dessen an Mobilgeräte und der Feinschliff (Fonts/Farben) stünde noch aus, aber insgesamt wäre es relavtiv schnell fertig zustellen.

Dies wäre auch für neue Funktionen wie ein Changelog oder eine Anleitung hilfreich, die man dann einfach per Webview einblenden könnte.

[2011-09-07 22:58] stefanhoth opened #16 "Exposé-Id in History"
@mrschtief:

Wir müssen die Exposé-Id in der Historie speichern, dann können wir auf der Webseite auch eine Verlinkung auf die Wohnungen machen.

[2011-09-07 22:58] stefanhoth opened #17 "Heatmap für Städte/Regionen"
Es wäre irgendwie cool zu sehen, wo in der Stadt Leute noch nicht gewildert haben. Dazu böte sich eine Heatmap an, die die Konzentration der immopoly-Spieler in "heiße" und "kalte" Zonen übersetzt.

[2011-09-07 22:59] stefanhoth commented on #17
@mrschtief
super idee, koennen wir auf der webseite machen, in der app haben wir die
daten nicht

[2011-09-07 22:59] stefanhoth commented on #17
Man könnte es serverseitig als PNG erstellen und dann auch für Clients abrufbar machen. Aber das ist natürlich Zukunftsmusik.

[2011-09-07 23:00] stefanhoth opened #18 "Missionen Backend"
@mrschtief:

Für unser Missionsfeature benötigen wir ein entsprechendes Backend das folgendes kann.
- Eintragen von Missionen (Name, Author, Kontaktadresse, Missionsadresse, Missionstext)
- Abfrage von Missionen über GeoKoordinaten
- Reviews ermöglichen (keine eigenen Missionen erlaubt)
- Exposes zu Missionen hinzufügen
- Rückmeldung des Missionsinitiators ob erfüllt.

[2011-09-07 23:01] stefanhoth opened #19 "nächtliche Berechnung IOException: Could not fetch URL"
@mrschtief:

Mit darauffolgender NPE in CronjobServlet.java:63

Abfangen und diesen Request ignorieren

2011-07-27 00:08:04.209
org.immopoly.appengine.WebHelper getHttpData: request failed
java.io.IOException: Could not fetch URL: http://rest.immobilienscout24.de/restapi/api/search/v1.0/expose/61417476.json
at com.google.appengine.api.urlfetch.URLFetchServiceImpl.convertApplicationException(URLFet

[2011-09-07 23:02] stefanhoth commented on #19
duplicate

[2011-09-07 23:02] #19 closed, assigned to nobody

[2011-09-07 23:02] stefanhoth opened #20 "repackaging"
@mrschtief:

package der appenigne ist

org.immopoly.appengine

Common ist:

org.immopoly.common

die app sollte sich dem anpassen

[2011-09-07 23:04] stefanhoth commented on #20
done

[2011-09-07 23:04] #20 closed, assigned to tobibo

[2011-09-07 23:05] stefanhoth opened #21 "Individuelle Historie In-App"
@tresbjorn:
In der App könnte man die Historie aller für den User relevanten Ereignisse dastellen (extra view).
Eventuell auch auf der Website falls user bekannt.

Momentan sieht man nur die globale Historie auf der Webseite und auch nur die letzten Ereignisse aller User.

Besser wär's rückwirkend alle Ereignisse sehen zu können, die eine selbst betreffen.
- Übernahmeversuche
- Wohnung wurde verka

[2011-09-07 23:05] stefanhoth commented on #21
@mrschtief: schau mal aufs dashboard da ist rechts oben der historienbutton ;)

[2011-09-07 23:06] stefanhoth commented on #21
@tresbjorn:
(facepalm)
Super, das meinte ich. Könnte ein bisschen länger sein.

[2011-09-07 23:06] #21 closed, assigned to nobody

[2011-09-07 23:07] stefanhoth opened #22 "IOException: Could not fetch URL: http://rest.immobilienscout24.de/restapi/api/search/v1.0/expose/"
@mrschtief:

Wir haben ein neues Problem am 28.7.2011 sind die nächtlichen Berechnungen zwischen 00:04 und 00:49 Uhr nicht ausgeführt worden. Die IS24 REST-API konnten aufgrund folgender Exception nicht durchgeführt werden:

Ich vermute Serverausfall bei IS24

java.io.IOException: Could not fetch URL: http://rest.immobilienscout24.de/restapi/api/search/v1.0/expose/61177002.json
at com.google.appen

[2011-09-07 23:07] stefanhoth commented on #22
@mrschtief:

Vielleicht schlägt hier die 10s Deadline zu siehe:

http://code.google.com/intl/de-DE/appengine/docs/java/urlfetch/overview.html#Quotas_and_Limits

[2011-09-07 23:08] stefanhoth commented on #22
@rob-bors

Ursache ist gefunden: wir hatten einen Releasewechsel mit einer Downtime.
Ich habe das nicht vorab bekanntgegeben, weil es keinen API-Anwender gibt, der nachts Traffic hat Und wie konnte ich euch dabei vergessen!

Sorry,

Rob
Produktmanager APIs
ImmobilienScout24

[2011-09-07 23:08] stefanhoth commented on #22
@mrschtief:

OK danke für den Report.

Ich fixe noch die folgende NPE

java.lang.NullPointerException
at org.immopoly.appengine.CronjobServlet.doGet(CronjobServlet.java:63)

[2011-09-07 23:08] stefanhoth commented on #22
@mrschtief: fixed und deployed

[2011-09-07 23:08] #22 closed, assigned to mrschtief

[2011-09-07 23:09] stefanhoth opened #23 "License Header"
@mrschtief:

habe den folgenden Header in den GAE klassen drin

/*
This is the server side Google App Engine component of Immopoly
http://immopoly.appspot.com
Copyright (C) 2011 Mister Schtief

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License

[2011-09-07 23:09] stefanhoth commented on #23
Bisher stimmt das zwar noch, aber in Zukunft sollte da wohl was anderes als "Mister Schtief" stehen, wenn auch anderer Code in das Projekt einfließt. Oder?

[2011-09-07 23:09] stefanhoth commented on #23
klar da kommt dann the immopoly project rein und unten machen wir @author tags rein

[2011-09-07 23:09] #23 closed, assigned to tobibo

[2011-09-07 23:10] stefanhoth opened #24 "Passwort vergessen"
@mrschtief:

Beim anmelden muss man seine emailadresse mit angeben, so dass man sich einen password reset link zuschicken lassen kann. Der Server bietet dann eine kleine Webseite zur neueingabe des passwortes

server:

user um email erweitern erweitern
tabelle für temporär gültige keys die an die reset url angehängt werden
"user/passwordrest?username=..&key=.." Action auf dem Server
app:
- button

[2011-09-07 23:11] stefanhoth commented on #24
Ticket #7 als Duplikat geschlossen.

[2011-09-07 23:13] stefanhoth opened #25 "Umlauteproblem"
@mrschtief:

Benutzernamen ?und Passwörter? können keine Umlaute enthalten.

Wo liegt das Problem? in der App, in der utf8 kommunikation zur appengine oder auf der engine seite beim login?

[2011-09-07 23:13] stefanhoth commented on #25
@tresbjorn

Die Parameter in den URLs die die App aufruft müssen urlencoded werden:
- "&password=" + URLEncoder.encode(password)
  dann klappts auch mitm Björn.

So, wie check ich das jetzt ein? ;-)

[2011-09-07 23:14] stefanhoth commented on #25
@mrschtief

;) git commit auf dein master und dann git push

[2011-09-07 23:14] stefanhoth commented on #25
@tresbjorn

Fertig. Hab nur username & passwort url encoded.
Vermute mal, dass das für usertoken und exposeid nicht nötig ist.

[2011-09-07 23:14] #25 closed, assigned to nobody

[2011-09-07 23:15] stefanhoth opened #26 "location spoofing"
@mrschtief:

Es wurde berichtet das der Spitzenreiter @fanieldinke location spoofing betreibt. is ja nich schlimm so lange wir das erlauben. aber jetzt wirds zeit das mal zu beheben.
Wenns nach mir geht muss er auch für dieses issue zahlen was haltet ihr von 100.000?

[2011-09-07 23:16] stefanhoth commented on #26
@deadfalkon

Das kann der gar nicht. Der hat nichtmal root auf seinem Telefon. Der ist einfach nur der einzige da unten in Neukölln und nährt sich an der Gentrifizierung

[2011-09-07 23:16] stefanhoth commented on #26
@mrschtief:

;) na ich bau mal in den nächtlichen cronjob ne Geschwindigkeitsmessung ein, und wenn zwischen exposes im abstand von 2km mehr als 100km/h erreicht worden sind, melden wir das erstmal nach Flensburg

[2011-09-07 23:16] stefanhoth commented on #26
@tobibo

Das kann jeder :), gibt apps die den LocationProvider simulieren und mit denen man die Location ändern kann.

https://market.android.com/details?id=com.lexa.fakegps

sollten wir verhindern, gerade in Bezug auf mögliche featuers wie beamen oder taxi um die location kurz zeitig zu ändern.

[2011-09-07 23:16] stefanhoth commented on #26
@keyboardsurfer

Denke dabei an eine eigene Bibliothek, die wir als jar anbieten und entsprechende Sicherheitsmechanismen dorthin verlagern.

[2011-09-07 23:17] stefanhoth commented on #26
@keyboardsurfer closed

[2011-09-07 23:17] stefanhoth commented on #26
@mrschtief: kann man das irgendwie so abkapseln das man einen eigenen locationprovider
hat, der nur realistische werte liefert?

[2011-09-07 23:17] stefanhoth commented on #26
@keyboardsurfer:
So in etwa, ja. Wir können eine Plausibilitätsprüfugn der Ortsangaben vornehmen und sie dann von der eigenen Bibliothek aus an den Server schicken.

[2011-09-07 23:17] stefanhoth commented on #26
@mrschtief:

hey wir machen das auf dem Server, und geben dann einfach ne
entsprechende Exception mit dem Text und code zurück, dann brauchen
wir in der App nichts machen und haben gleich ne Lösung fürs iphone
später

[2011-09-07 23:20] stefanhoth commented on #26
@keyboardsurfer reopen

[2011-09-07 23:21] stefanhoth opened #27 "appengine lokal testen"
@tresbjorn:
Um die AppEngine lokal laufen zu lassen habe ich kurzerhand mal 2 Konstanten
in WebHelper (hmm) angelegt und an den relevanten Stellen benutzt:

// appengine on immopoly.appspot.com
public static final String SERVER_URL_PREFIX = "http://immopoly.appspot.com";
public static final String SERVER_HTTPS_URL_PREFIX = "https://immopoly.appspot.com";
// appengine on emulator host (http only)
/

[2011-09-07 23:21] stefanhoth commented on #27
@mrschtief:

perfekt alder, wir müssen uns eh noch gedanken um einen IS24
MockServer machen, der immer die gleiche Testantwort für die
Entwicklung zurückliefert

[2011-09-07 23:21] stefanhoth commented on #27
@tresbjorn:

So, ist drin.
(Die Top 20 Makler: 1. björn 5000,00 EUR ;-)

[2011-09-07 23:22] tresbjorn commented on #5
Es waren etwa 2950 im Umkreis von 3km ;-)

Die results sind zum Glück nach Entfernung sortiert.
Bei meinem Mitschnitt sind es 53(?) Wohnungen, die letzte
ist 0,71 km von der requesteten location entfernt.

Mit ein bisschen testen finden wir vllt nen guten wert für
den radius. 0,8? 1,0?

Vielleicht kann uns einer von Immoscout Jungs sagen, was
man da so erwarten kann.

[2011-09-07 23:22] stefanhoth opened #28 "Google Analytics"
@tobibo

Ich würde gerne Google Analytics für die immopoly.appspot.com index seite einbauen. Bitte um Diskussion, Votes oder Flamewars!!!

[2011-09-07 23:23] stefanhoth commented on #28
@keyboardsurfer

+1 Nutzeranalyse FTW. was haltet ihr davon, das auch in der App zu machen?

[2011-09-07 23:23] stefanhoth commented on #28
@tobibo

Finde ich gut.

[2011-09-07 23:23] stefanhoth commented on #28
@mrschtief

in der index html datei eingebaut. deploye ich auf dem #cccamp

habe die labels auf client angepasst, hat jemand erfahrung wie man google analytics in ne app baut?

[2011-09-07 23:23] stefanhoth commented on #28
@tobibo

Jepp, kann ich machen, hatte ich auch schon mal angefangen, aber dann sein
gelassen. Wir sollten nur genau berlegen was wir eigentlich tracken wollen.

Schlage vor simple events wie:
- Start der App
- Wohnung anschauen
  - start und stop messen, also Zeit bekommen wie lange angeschaut
- Wohung bernahme
  - erfolg
  - nicht
- Wohnung sharen
  - aus Webview
  - aus Wohnungserfolg
- Wechsel

[2011-09-07 23:24] stefanhoth commented on #28
@tobibo closed

[2011-09-07 23:24] stefanhoth commented on #28
@tobibo

Könnt ja mal Dinge hinzufügen hier!

https://spreadsheets.google.com/spreadsheet/ccc?key=0AgApn6ffQ1KIdFVyX1lBYXdCSjk5NWZwd3BEbUsydVE&hl=en_GB#gid=0

[2011-09-07 23:24] stefanhoth commented on #28
@tobibo reopen

[2011-09-07 23:25] stefanhoth commented on #28
@mrschtief

ich bin d'accord mit dem spreadsheet

[2011-09-07 23:25] stefanhoth opened #29 "Provisionberechnung am 09.08.11 fehlerhaft"
@rob-bors

Hallo,
heute nacht wurden nur die letzten 2 vermieteten Wohnungen übernommen. Spielername: "immorob".
09.08.2011 0:21 Uhr 2 Objekte wurden vermietet und deren provision übernommen.
09.08.2011 0:20 Uhr zig Objekten wurden vermietet und Provision nicht übernommen...

[2011-09-07 23:26] stefanhoth commented on #29
@mrschtief:

es gab heute nacht wieder etliche sockettimeouts beim verbindungsaufbau zur
is24 api

z.b.

2011-08-09 00:47:05.277 org.immopoly.appengine.WebHelper getHttpData:
request failed java.net.SocketTimeoutException: Timeout while fetching:
http://rest.immobilienscout24.d

gab es wieder eine downtime?

wir brauchen eine idee wie wir fehlertoleranter werden... ich schau mal nach
transaktionen

[2011-09-07 23:26] stefanhoth commented on #29
@mrschtief

Also die Berechnung von immorob lief normal durch, nur 2 Wohnungen wurden vermietet von 213 !!1 ;)

2011-08-09 00:21:11.990 org.immopoly.appengine.CronjobServlet doGet: starte Mietberechnung
I 2011-08-09 00:21:13.347 org.immopoly.appengine.CronjobServlet doGet: User immorob
I 2011-08-09 00:21:13.472 org.immopoly.appengine.CronjobServlet doGet: User immorob Exposes #213
I 2011-08-09 00:

[2011-09-07 23:26] stefanhoth commented on #29
@mrschtief closed

[2011-09-07 23:27] stefanhoth commented on #29
@rob-bors reopen

[2011-09-07 23:27] stefanhoth commented on #29
@rob-bors

mir wurden im history aber mehrere objekte als vermietet angezeigt. Uhrzeit 0:20 Uhr. Habe ein Screenshot, dass ich mrschtief gleich per mail sende. Gruß, immorob

[2011-09-07 23:28] stefanhoth opened #30 "Beschreibungstext der App in Englisch"
@mackartor
Kann einer von euch die Beschreibung des Spiels (http://immopoly.appspot.com/) mal in Englisch formulieren, damit auch Menschen die der deutschen Sprache nicht mächtig sind, auch einen Einblick bekommen.

[2011-09-08 16:49] mrschtief commented on #27
Ich öffne dieses Issue nochmal, da wir noch keinen Mockserver oder irgendeine Strategie haben

[2011-09-08 17:05] mrschtief commented on #29
wo kann man den hier attachments anhängen?

[2011-09-08 17:09] mrschtief commented on #12
fixed siehe #13

[2011-09-08 17:09] #12 closed, assigned to nobody

[2011-09-08 20:52] mrschtief commented on #26
Ich habe jetzt mal folgenden code commited:
- beim übernahmeversuch werden die übernahmen der letzten stunde gecheckt
- ist ein exposes weiter entfernt als man es mit 100km/h erreichen könnte gibt es eine Spoofing alert Exception

Ich habe es noch nicht deployed.
Diskussionen und Tests am Samstag dazu

[2011-09-08 22:36] mrschtief commented on #24
Problem: wir haben momentan keine Mailadresse der User

Lösung: entweder mit twitter oath #10 oder email im userobjekt

[2011-09-10 10:39] yncyrydybyl opened #31 "user profile"
Es sollte eine Anzeige des Userprofiles geben.

vom user können folgende daten gesetzt.

muss -
- emailaddresse
- password
- username

kann
- twitter
- IM

[2011-09-10 10:43] yncyrydybyl opened #32 "notification by übernahmeversuch"
wenn jemand versucht hat die wohnung eines user zu übernehmen bekommt der user eine benachrichtigung.
nachrichten werden zusammengefasst, und der user wird in die history geführt.

[2011-09-10 10:53] keyboardsurfer commented on #14
Was haltet Ihr von einem Marktplatz für Wohnungen?

[2011-09-10 11:01] keyboardsurfer commented on #3
android and common are completely mavenized; appengine still has some errors

[2011-09-10 11:19] tobibo opened #33 "Feedback Kanal in die App einbauen"
Einfaches interface zum eingeben von Feedback missionen und mehr.

[2011-09-10 11:30] mrschtief opened #34 "Eventing im Backend"
Das Backend sollte eventbasiert sein und aktivitäten entkoppeln.

Beispiel:
User versucht Wohnung zu übernehmen die bereits vergeben sind, er erhält negative Nachricht.
Die Aktionen die den Besitzer betreffen (Geld gutschreiben, benachrichtigen) sollte entkoppelt werden.

Dazu sollten im Backend Activities und Queues verwendet werden.

[2011-09-10 11:46] mrschtief commented on #31
User Profile ist Office des Maklers, welches man individuell gestalten kann

[2011-09-10 13:08] mrschtief commented on #26
fertig und getestet, die app zeigt einen Hinweiß an "Da warst du aber zu schnell"

[2011-09-10 13:30] mrschtief commented on #31
profile Action implementiert lauscht auf /user/profile/[username] z.B.

http://immopoly.appspot.com/user/profile/mrschtief

[2011-09-10 13:57] mrschtief commented on #31
die defaultseite lifert jetzt das Profile.html aus und ersetzt z.B. den username das public json profiles erhält man über die .json extension also z.B.

http://immopoly.appspot.com/user/profile/mrschtief.json

[2011-09-10 14:22] mrschtief commented on #31
jetzt auf der indexseite in history und top users verlinkt. proof of concept erstmal fertig, fehlt noch AJAX verarbeitung in Profile.html

[2011-09-10 16:01] yncyrydybyl opened #35 "10 badges erstellen"
unter https://github.com/immopoly/immopoly/wiki/Badges sollten alle ideen zu badges festgehalten werden

[2011-09-10 16:14] tobibo commented on #28
done. Alle die Zugang haben schaut mal ob noch was fällt also was wir noch tracken sollten.

[2011-09-10 16:14] #28 closed, assigned to tobibo

[2011-09-10 16:15] tobibo commented on #6
caching von user history, wird nur alle 5Minuten neu geladen.

[2011-09-10 16:21] keyboardsurfer opened #36 "SettingsActivity is missing"
We should implement a SettingsActivity that contains at least:
- A switch for C2DM
- eMail & password
- Notification switch

[2011-09-10 17:06] mrschtief commented on #34
Task und TaskQueue in der AppEngine
http://code.google.com/appengine/docs/java/taskqueue/overview.html

[2011-09-10 17:53] mrschtief commented on #31
es gibt jetzt optionale email unt twitter felder im userobjekt in common, in der appengine und im android client

[2011-09-10 18:38] mrschtief commented on #32
GOLDeN TICKeT

[2011-09-11 15:30] fama-berlin opened #37 "aktuelle Version stürzt beim Starten ab (Samsung Galaxy S2, Android )"
Hallo zusammen,

ich (toram) nutze momentan eine apk, die ich am 20.07. heruntergeladen habe (185,1 KB). Die neuere Version (letzter Download am 10.09., Größe 202,6 KB) stürzt beim Laden ab.

Die Fehlermeldung als Screenshot: http://img196.imageshack.us/img196/2994/sc201109111718191.jpg

[2011-09-11 15:32] fama-berlin commented on #37
Android in der Überscsrift soll "Android 2.3.3" heißen ;-)

[2011-09-11 15:38] fama-berlin opened #38 "Keine neuen Wohnungen in Exposé aufnehmen"
Hallo noch einmal,
seit (ich glaube) gestern kann ich in mein Exposé keine neuen Wohnungen mehr aufnehmen.
Fehlermeldung: "Expose konnte nicht hinzugefügt werden".

Liegt das an meiner älteren Version von immopoly (siehe anderes Issue von mir)?
Gibt es neuerdings eine Wohnungsbegrenzung?

[2011-09-11 16:27] yncyrydybyl commented on #15
die webseite muss sich dann mehr an spieler richten. ich habe schon mal das grundgerüst übernommen.

[2011-09-11 16:36] stefanhoth commented on #15
Finde es aber generell nicht schlecht, wenn wir die technischen Infos zum Projekt auch behalten. Passt zum OpenSource-Gedanken und hilft Immo, die App als API-Showcase zu featuren.

[2011-09-12 04:31] FreXxX commented on #37
Moin,

habe soeben (12. September, 6:20) die neuste Version (1.2) herunter geladen.
Crasht auch direkt beim Start.

HTC Hero, Custom ROM inkl OC, Android 2.2.1

Wäre es möglich, die aktuelle Version immer inkl Versionsnummer zu verlinken, und auf ner Untersite die alten Versionen auch noch zum Download zu bieten?

"Die aktuelle Version der Android App finden Sie hier: Immopoly.apk (Version 1.2)

Ä

[2011-09-12 13:48] mrschtief commented on #37
hey danke für den Report, wir sind gerade ordentlich am umstricken der App und sagen euch bescheid sobald es eine nächste preMarket Version gibt. Danke schonmal fürs Testen

[2011-09-12 13:49] mrschtief commented on #38
Habe ich gerade auch von bytye gehört und jetzt wieder zum laufen gebracht. anscheinend ist die neue anti Location Spoofing Server version nicht mit dem alten client kompatibel

[2011-09-12 13:50] mrschtief commented on #38
fixed

[2011-09-12 13:50] #38 closed, assigned to nobody

[2011-09-12 13:51] mrschtief commented on #26
reopened, anscheinend ist der neue Exception Code nicht kompatibel mit den alten versionen. siehe #38

[2011-09-18 18:04] yncyrydybyl opened #39 "badges for users"
it should be possible for a user to have badges.
such a badge needs to have a name, icon, description
there need to be a way to sign such a badge to a user

[2011-09-18 18:05] yncyrydybyl commented on #39
the current list of ideas for badges can be found at https://github.com/immopoly/immopoly/wiki/Badges

[2011-09-18 18:55] yncyrydybyl commented on #33
es sollte einen selectable liste von arten des feedbacks geben.
- wir gefällt es dir
- fehler
- vorschlag
  ...

und ein inputfeld.

[2011-09-19 19:08] yncyrydybyl opened #40 "fragments skeleton"
eine controll activity welche alle views als fragments verwaltet.
wie kommunizieren fragments,

nach wohnungübernahme dem HUD bescheid sagen.
nach wohnungübernahme dem Portfolio bescheid sagen.
nach wohnungübernahme den Notifications bescheid sagen.

vielleicht erstmal in einem extra branch ausprobieren

[2011-09-19 19:11] yncyrydybyl commented on #29
XFILE 9023432

[2011-09-19 19:11] #29 closed, assigned to nobody

[2011-09-23 10:10] fama-berlin commented on #30
Ich hätte da mal was (auf Englisch) vorbereitet...

Wenn der Wunsch besteht, dann gebe ich das gerne frei.

[2011-09-23 11:31] stefanhoth commented on #30
Hallo @fama-berlin, cool, klingt gut. Immer her damit!

[2011-09-23 11:42] mackartor commented on #30
Hallo @fama-berlin gerne. Schließe mich an Stevie an.

[2011-09-23 11:46] fama-berlin commented on #30
Gerne, aber wie mache ich das??? Ist das erste Mal für mich ;-)

[2011-09-26 17:19] stefanhoth commented on #30
Hi, sorry, dass wir so lange nicht geantwortet haben - Wochenende usw.

Um Deine Frage zu beantworten, müsstest Du mir sagen, was genau Du vorbereitet hast. Ich habe gesehen, dass Du noch kein öffentliches Repository hast. Was hast Du also wo gemacht?

[2011-09-28 20:02] fama-berlin commented on #30
Ich habe zuerst einmal den Text auf der appspot-Seite einfach einmal ins Englische gebracht.
Ich könnte also entweder den Text als File bereitstellen (Word, txt, was auch immer) oder ich könnte versuchen die Seite vom HTML her so wie sie jetzt schon ist, nachzubauen, so dass nur nich die Links angepasst werden müssen.

Ich kann erst wieder ab dem 4.10. reagieren, bin ein paar Tage nicht in Berlin.

[2011-09-28 20:20] stefanhoth commented on #30
Hi,

der Text als Textfile würde uns schon helfen. Danke sehr!

[2011-10-06 12:26] mrschtief commented on #37
es hat sich rausgestellt, dass es an einem fehlerhaften update zwischen den letzten Versionen lag. wenn man neu installiert geht es wieder

[2011-10-06 12:26] #37 closed, assigned to tobibo

[2011-10-06 12:28] mrschtief commented on #24
email ist ins profil hinzugefügt siehe https://github.com/immopoly/immopoly/issues/31#issuecomment-2060377 die Funktion kann jetzt implementiert werden

[2011-10-09 17:40] mrschtief commented on #24
done ;) doku kommt morgen, die funktion ist aber schon benutzbar, es gibt einen experimentallogin auf der startseite

[2011-10-10 07:37] mrschtief opened #41 "iPhone und OpenSource"
Können wir eine Immopoly iPhone App in den apple store stellen und trotzdem unsere AGPL Lizenz verwenden?

Falls nicht, welche Lizenzen erlaubt der Apple Store?

Wir benötigen hier eine umfangreiche Nachforschung und am besten ein 1-seitiges Dokument mit dem Ergebnis welches wir auch IS24 zeigen können

[2011-10-10 07:42] mrschtief opened #42 "API Documentation"
Die Immopoly API Dokumentation muss automatisch aus dem Code heraus generiert werden können

[2011-10-10 08:32] mrschtief commented on #42
http://enunciate.codehaus.org

http://stackoverflow.com/questions/1714029/howto-automate-documentation-of-a-rest-api-jersey-implementation

auch nochmal bei WADL und z.b. Jersey schauen

[2011-10-17 12:00] fama-berlin commented on #30
Hallo.

Nach längerer Abstinenz nun doch noch ein Lebenszeichen von mir...
ich habe sogar noch einen kleinen Einleitungstext geschriieben, damit das "Prinzip Immopoly" schon vorher erkannt werden kann.
Leider weiß ich nicht wie ich das Textfile hochgeladen bekomme. Auch die Suche (hier und bei Google) hat mir nicht wirklich weiter geholfen.
Muss ich das repo "forken" und dann neu einreichen? Oder

[2011-10-18 18:23] mrschtief commented on #42
erstmal im wiki gemacht

https://github.com/immopoly/immopoly/wiki/ImmopolyAPI

[2011-10-18 18:23] #42 closed, assigned to stefanhoth

[2011-10-18 19:01] #2 closed, assigned to nobody

[2011-10-18 19:01] tresbjorn commented on #2
Hat sich erledigt, weil der alte map_marker_popup nicht mehr verwendet wird.

[2011-10-18 19:02] mrschtief commented on #24
doku : https://github.com/immopoly/immopoly/wiki/ImmopolyAPI

Ich entferne jetzt mal den Server-Api tag

[2011-10-18 19:29] mrschtief commented on #26
ich hatte den spoofing alert beim letzten Treffen mal eingebaut und sehe jetzt etlich alerts im log, alle mit geschwindigkeiten bis 100m/s.... müssen wir nochmal drüber sprechen, ich habs erstmal wieder rausgenommen

[2011-10-19 11:53] stefanhoth commented on #14
Kurzfristig: Strafzahlung (Standard 2fach) und sofortige Freigabe

Langfristige Idee: Mehrfachmakler (Teilung von Kosten und Gewinn), Einzelauftrag kostet doppelt soviel bei der Übernahme

[2011-10-19 12:01] mrschtief commented on #14
Kurzfristig möglich, als Freigabe zu markieren und Abgabe bei Anfrage eines anderen Maklers

[2011-10-29 11:52] yncyrydybyl opened #43 "maps research"
eventuell gibt es probleme bei der verwendung von google maps.

deeper look intp http://code.google.com/p/mapsforge/

[2011-10-29 15:20] mrschtief commented on #32
prototyp implementiert, nach erfolgreicher anmeldung auf dem client wird beim c2dm registriert, diese registrationid wird per /user/C2DMregister an die appengine gesendet und dort im user profile gespeichert. per http://immopoly.appspot.com/user/C2DMsend?username=&message=helloWorld kann eine nachricht an den client gesendet werden, dort wird eine notification mit der message erstellt. ein click d

[2011-10-30 12:32] mrschtief commented on #32
spiellogik implementiert, nachricht bei übernahme versuch der eigenen wohnung.

commited

jetzt nur noch client stuff

[2011-10-30 12:34] mrschtief opened #44 "Übernahme button erst nach X Sekunden einblenden"
Damit man nich einfach schnellfeuer machen kann, dann kann ich auch die spoofing alerts wieder einschalten.
Ich schlage mindestens 10 Sekunden vor, so garantieren wir auch IS24 gegenüber das sich die Leute wenigstens das Expose durchgelesen haben

[2011-10-30 13:05] mrschtief opened #45 "Exposes nach Vermietung nicht löschen"
um Informationen z.b. über das Wilderungsgebiet der User zu sammeln, löschen wir die exposes nicht mehr, sondern markieren sie nur noch als gelöscht. So können wir später mit einem Cluster Algorithmus drüber gehen und die gegend im profile darstellen.

[2011-10-30 13:07] mrschtief opened #46 "Historieneintrag mit Expose-Id"
die Historie braucht ein Feld für die Historien-Id um abgegebene Wohnungen oder Übernahmeversuche verlinken zu können

[2011-10-30 13:10] mrschtief commented on #46
fixed

[2011-10-30 13:10] #46 closed, assigned to mrschtief

[2011-10-30 13:12] mrschtief commented on #14
backend neue Action implementiert ActionExposeRemove

siehe https://github.com/immopoly/immopoly/wiki/ImmopolyAPI

jetzt noch auf dem Client integrieren.

Strafe is momentan 4-fache Tagesmiete siehe Const.java

[2011-10-30 13:13] mrschtief commented on #1
wurde von T und stevie gemacht ist jetzt im Master integriert

[2011-10-30 13:17] stefanhoth commented on #1
Müssten wir das nicht noch als submodule in appengine reinhängen? Bisher ist doch noch manuelle Kopierarbeit deinerseits nötig, oder?

[2011-10-30 13:44] mrschtief commented on #45
es wird jetzt das deleted Feld mit dem Zeitpunkt der vermietung gefüllt, sonst null.

in naher Zukunft mal im CronjobServlet den test auf null in die JDOQL Query verlagern

[2011-10-30 13:44] #45 closed, assigned to mrschtief

[2011-10-30 13:46] mrschtief commented on #1
Nein wozu noch nen submodul? die Index.html liegt im war verzeichnis des appengine submodules

[2011-10-30 13:46] #1 closed, assigned to stefanhoth

[2011-10-30 13:48] mrschtief opened #47 "Anzahl der Übernahmeversuche speichern"
Im Expose sollte gespeichert werden wie oft man mit der Wohnung Geld verdient hat, dies kann dann auch in der Liste im client angezeigt werden.
Da fällt mir gleich ein tolles badge für ne Wohnung ein, die schon z.b. schon 10 mal versucht wurde zu übernehmen

[2011-10-30 14:02] mrschtief commented on #47
im backend umgesetzt und wird jetzt auch schon per json ausgeliefert und kann vom client angezeigt werden.

[2011-10-30 15:24] stefanhoth commented on #46
Wie ist die Verlinkung nun gedacht?

[2011-10-30 15:42] mrschtief commented on #46
entweder nach http://www.immobilienscout24.de/expose/61190284 oder
halt nach m.immobilienscout24.de

On Sun, Oct 30, 2011 at 4:24 PM, Stefan Hoth
reply@reply.github.com
wrote:

[2011-10-30 15:45] stefanhoth commented on #46
Gibt es schon Promo-Keys damit wir eventuelle Affiliate-Sachen darüber laufen lassen können, die aus einem solchen Link resultieren?

[2011-10-31 11:33] mrschtief opened #48 "Startseite mit AJAX"
Der variable Content der Startseite (TopX und Historie) sollte nicht per Ersetzung in der index.html durch das IndexServlet gemacht werden sondern mittels AJAX direkt über die API in JSON abgeholt und dann dargestellt werden.

Server:
- TopX Request
- History Request (mit optionaler UserId+Token, so dass der Request auch für die Clients verwendet werden kann)

Website:
- AJAX Request (siehe auch e

[2011-11-02 15:14] stefanhoth commented on #48
Ich übernehme das gern, sobald die Endpoints vorhanden sind. Vielleicht schaffe ich es diese Woche.

[2011-11-02 19:36] mrschtief commented on #48
Backend fertig und dokumentiert https://github.com/immopoly/immopoly/wiki/ImmopolyAPI

http://immopoly.appspot.com/user/top?start=0&end=10

http://immopoly.appspot.com/user/history?start=0&end=10

[2011-11-02 19:45] stefanhoth commented on #48
Doku hab ich mal leicht optimiert. Ich schau mal, wann ichs reinquetschen kann. Danke!

[2011-11-05 16:55] mrschtief commented on #36
kümmert sich bastian drum
siehe
https://github.com/immopoly/android/pull/2

erreichbar über das menu

https://github.com/immopoly/android/issues/10

[2011-11-05 17:13] mrschtief commented on #14
ich sitze hier dran am android client zum wieder reinkommen

[2011-11-05 18:02] mrschtief commented on #14
fertich der button zeigt jetzt übernahme versuchen oder wohnung aufgeben an

[2011-11-05 18:02] #14 closed, assigned to mrschtief

[2011-11-05 18:11] tobibo commented on #14
cool!

_Sent via Hubroid_

[2011-11-07 11:52] mrschtief opened #49 "ErrorCodes Dokumentieren"
momentan sind die nur in der App-Engine fest verdrahtet. Ich werde sie ins common-package packen und das File im wiki verlinken

[2011-11-16 21:19] tobibo commented on #32
Definieren wohin gesprungen werden soll, am besten direkt zum expose oder ?

[2011-11-16 21:20] tobibo commented on #26
Wie ist der Stand hier?

[2011-11-16 21:52] mrschtief commented on #32
was machen wir bei mehreren.notifications? reicht nicht einfach in die app
rein? dann hat man gleich die karte und kann neue wohnungen nehmen
Am 16.11.2011 22:19 schrieb "tosa" <
reply@reply.github.com

[2011-11-16 21:52] mrschtief commented on #26
ist momentan auf serverseite deaktiviert bis die wartezeit pro bernahme
implementiert ist
Am 16.11.2011 22:20 schrieb "tosa" <
reply@reply.github.com

[2011-11-16 23:49] mrschtief commented on #44
fixed hab jetzt 10 sekunden drin

[2011-11-16 23:49] #44 closed, assigned to nobody

[2011-11-24 09:40] mrschtief commented on #48
ist deployed und funktioniert +1

[2011-11-24 10:22] mrschtief opened #50 "Anzahl der Exposés begrenzen"
Um den Spielspaß zu erhöhen schlage ich vor die Anzahl der Exposes zu begrenzen.
- So wird man angehalten wirklich Wohnungen zu übernehmen, die demnächst vermietet werden.
- Die Abstoßen-Funktion macht richtig Sinn und wird mit ins Spielkonzept integriert
- Die Portfolioansicht wird häufiger benutzt, da man es versucht ständig zu optimieren
- Momentan werden schon die Anzahl der Übernahmeversuche

[2011-11-24 10:40] tobibo commented on #50
Wie per Email schon geschrieben. Level basierte Größe des Portfolios fände ich gut.

Je nach dem wie gut man im Spiel ist vergrößert sich auch das Portfolio, also am Anfang kann man evtl. nur 50 ( oder weniger) Wohnungen aufnehmen, macht man dan erste Gewinne durch Strafen, so steigt man im Level auf und bekommt auch mehr Platz im Portfolio.

Der Mechanismus bzw. ein gute Größe fürs Level up ist n

[2011-11-24 10:51] stefanhoth commented on #50
Ich fordere Schaubilder, aber finde @tobibo's Idee gut. Auf jeden fall können wir aber erstmal die Begrenzung auf 30 einführen, da es die Taktik im Spiel erhöht. Das Leveling können wir danach einführen.

[2011-11-24 11:26] mrschtief commented on #50
+1 ok ich bau dann die Begrenzung ein. und das Leveling können wir ja
über badges machen, dann müssen wir nicht noch ein Level system
nebenbei führen.

2011/11/24 Stefan Hoth
reply@reply.github.com:

[2011-11-25 18:31] mrschtief commented on #49
fertig siehe https://github.com/immopoly/common/blob/master/src/org/immopoly/common/ImmopolyException.java

ganz ganz wichtig, im client müssen alle exceptions mit Text angezeigt werden, auch wenn der client den exception code nicht kennt. nur so können wir auf dem server unabhängig neue features einbauen

[2011-11-25 18:31] #49 closed, assigned to mrschtief

[2011-11-26 17:49] #48 closed, assigned to stefanhoth

[2011-11-26 17:49] #41 closed, assigned to tobiasheine

[2011-11-26 17:53] yncyrydybyl commented on #32
notification wird gesendet aber erscheint nicht auf dem empfänger

[2011-11-26 19:30] mrschtief opened #51 "Filialen"
Goldenes Ticket von Tobias H.

[2011-11-26 20:00] #40 closed, assigned to nobody

[2011-11-26 20:00] #36 closed, assigned to bashtian

[2011-11-26 20:03] #32 closed, assigned to tobibo

[2011-11-28 14:54] mrschtief commented on #16
fixed und auf startseite verlinkt

[2011-11-28 14:54] #16 closed, assigned to mrschtief

[2011-11-29 00:06] tresbjorn commented on #47
Anzahl der Versuche, Übernahmedatum, Raumzahl und m^2 werden geparst und angezeigt.

[2011-11-29 00:06] #47 closed, assigned to tresbjorn

[2011-11-29 18:42] mrschtief commented on #9
dazu gibs jetzt die portfolio view

[2011-11-29 18:42] #9 closed, assigned to nobody

[2011-11-29 18:42] mrschtief commented on #32
jetzt wird die c2dm registration id

[2011-11-29 18:43] mrschtief commented on #32
nur noch bei login und register an server gesendet nicht bei getuserinof o_O

[2011-11-29 19:45] #4 closed, assigned to nobody

[2011-12-01 22:26] mrschtief opened #52 "website mobil machen"
Die Website geht mobil nicht richtig, css suckt und ajax request zeigen keine history an nur NaN

[2011-12-01 22:43] mrschtief opened #53 "Website auf eigenen Webserver auslagern"
wir sollten die spielewebsite woanders auslagen damit wir nicht immer die appengine deployen müssen. wir greifen ja auf alle funktionen eh mit AJAX zu.
Ich hab mal immopoly.de angeschrieben immopoly.org is noch frei

[2011-12-02 08:48] yncyrydybyl commented on #53
mal schaun ob da jemand antwortet ansonsten waere ja auch noch immopoly.mobi frei.

[2011-12-02 16:43] stefanhoth commented on #52
Kümmere mich drum.

[2011-12-02 16:57] mrschtief commented on #52
am besten auch gleich nochmal das gelb rausnehmen und irgend eine
andere evtl is24 farbe nehmen?

On Fri, Dec 2, 2011 at 5:43 PM, Stefan Hoth
reply@reply.github.com
wrote:

[2011-12-05 17:51] mrschtief opened #54 "Webseite provision und miete vertauscht"
laut @bytyte sind die werte in den spalten vertauscht.

[2011-12-05 19:16] stefanhoth commented on #54
Joah, dann schauen wir doch mal nach... :)

[2011-12-06 00:24] mrschtief commented on #39
So Badges sind drin und werden in der profile view angezeigt. jetzt kann das noch jemand hübsch machen, ich kümmere mich ab jetzt weiter um das backend und die generierung

[2011-12-07 00:18] #5 closed, assigned to nobody

[2011-12-07 00:18] #6 closed, assigned to nobody

[2011-12-07 00:18] #30 closed, assigned to nobody

[2011-12-07 00:18] #33 closed, assigned to nobody

[2011-12-07 10:43] tobibo opened #55 "C2DM notification"
Wir sollten die Notification zum Beispiel bei Übernahmeversuch verändern,  im moment sieht man das wichtige nicht so gut, also das man ja geld bekommt.

[2011-12-07 16:08] mrschtief commented on #52
bitte auch noch das social dingends in der mobilen version ausblenden.

Wann kannste das machen? kümmere mich drum is ja schon wieder 4 tage her ;)

[2011-12-07 16:42] stefanhoth commented on #52
Ich denke, ich kann mich morgen daran setzen.

[2012-01-15 15:28] stefanhoth commented on #54
Fixed in https://github.com/immopoly/appengine/commit/41691c2b5f97b18c4821b26bc2ddb0172da5daf3

[2012-01-15 15:28] #54 closed, assigned to stefanhoth

[2012-01-15 15:31] mrschtief commented on #50
auf 50 gesetzt

[2012-01-15 15:31] #50 closed, assigned to nobody

[2012-01-15 15:42] stefanhoth commented on #52
Auf dem Android-Browser ist nun die gesamte History auf undefined/NaN

[2012-01-15 17:04] mrschtief commented on #39
backend iphone und android fertig

[2012-01-15 17:04] #39 closed, assigned to mrschtief

[2012-01-15 17:07] mrschtief opened #56 "Action Items"
Von Tobias Heine am Hackday am 15.1.2012 gewünscht

[2012-01-15 17:15] mrschtief opened #57 "IS24 produktiv key"
in android iphone und appengine ändern

[2012-01-15 18:11] stefanhoth commented on #52
Parsing-Fehler ist bisher noch nicht erklärbar, aber der letzte Fix verhindert, dass ungültige Werte dargestellt werden. Nun ist auf Android die History aber nicht mehr sichtbar im Browser

[2012-01-25 07:32] tobibo commented on #57
@keyboardsurfer is it already in bottler?

[2012-01-25 09:40] keyboardsurfer commented on #57
I've put a new key into bottlers config. This should be the current key.

[2012-02-01 12:52] mrschtief commented on #57
works now

[2012-02-01 12:52] #57 closed, assigned to nobody

[2012-02-01 12:55] mrschtief opened #58 "Hilfe"
Wir brauchen für das Release eine Hilfe. Am besten auf der Webseite, damit diese aktualisiert werden kann.

Dort sollten zumindest für Android die icons erklärt werden (rote, grüne dächer, eigene Häuser)

[2012-02-02 11:53] mrschtief commented on #52
Javascript errors in console http://www.nanaze.com/2009/01/debugging-javascript-on-android.html

[2012-02-02 13:17] mrschtief opened #59 "Access-Control-Allow-Origin"
- das "website" repository ist wieder reanimiert
  - Jeder commit wird gleich auf immopoly.org gepushed

Zum letzten Punkt jetzt eine Frage an die Javascript Experten. in der
HTML-Seite auf immopoly.org lade ich das immopoly.js von
immopoly.appspot.com. darin wird ein AJAX-Request an
immopoly.appspot.com gemacht um die Top User und History zu holen. Nun
bekommen wir trotzdem ein

"XMLHttpRequest c

[2012-02-02 13:17] mrschtief commented on #59
@stefanhoth  schrieb dazu

Aaaaalso: Cross-Domain-Zugriffe bleiben Cross-Domain-Zugriffe, auch wenn Du das Javascript aus der Cross-Domain lädst, denn es bleibt so, dass ein Ajax-Zugriff auf eine von der aktuell besuchten (immopoly.org) abweicht (immopoly.appspot.com).

Es gibt dafür 2 bekannte Lösungen:
1. Proxy

Statt die AJAX-Anfrage direkt an immopoly.appspot.com zu stellen wird die Anfrage an

[2012-02-02 13:19] mrschtief commented on #59
@tresbjorn schrieb dazu

 Sieht aus, als könnte auch ein

resp.setHeader( "Access-Control-Allow-Origin", "*" )
oder
resp.setHeader( "Access-Control-Allow-Origin", "http://immopoly.org" )

Im history-servlet helfen.
Sagt zumindest https://developer.mozilla.org/En/HTTP_access_control

Weiß aber nicht, ob das alle browser unterstützen?

[2012-02-02 13:22] mrschtief commented on #53
immopoly.org is am start und das website repo wieder reanimiert, das wird dort hin automatisch deployed...

letztes problem mit javascript siehe #59

[2012-02-02 13:22] #53 closed, assigned to yncyrydybyl

[2012-02-02 13:24] mrschtief commented on #24
ist auf iphone backend implementiert fehlt nur noch android. dort gibt es den entsprechenden issue

https://github.com/immopoly/android/issues/39

[2012-02-02 13:24] #24 closed, assigned to nobody

[2012-02-02 13:24] mrschtief commented on #15
siehe #52

[2012-02-02 13:24] #15 closed, assigned to nobody

[2012-02-02 14:03] stefanhoth commented on #59
@mrschtief Kannst Du mir mal sagen, was auf dem Host von immopoly.org möglich ist? Kann man da PHP oder so laufen lassen?

[2012-02-02 14:14] mrschtief commented on #59
jepp php ist möglich, ist ein "1&1 Dual Perfect" leider kann ich nur
FTP Zugriffe vergeben.

Aber ein Commit wird nach ein paar Minuten gepusht

Meinst du proxying macht Sinn? da wir ja requests mit verschiedenen
urls machen /user /...

On Thu, Feb 2, 2012 at 3:03 PM, Stefan Hoth
reply@reply.github.com
wrote:

[2012-02-02 14:57] stefanhoth commented on #59
Ich dachte es geht um die beiden requests auf der Startseite? Die sind doch für alle Besucher gleich.

Proxy wäre die sauberste und einfachste Lösung und hätte den Vorteil, dass wir cachen könnten, um API-Requests zu sparen.

[2012-02-02 15:04] mrschtief commented on #59
stimmt auch wieder, aber dann müssen wir bei allen zukünftigen request
für die startseite immer ein proxy rumbauen, obwohl wir dann auch noch
genauer tracken könnten.

es gibt doch sicher standardproxylösungen dafür oder?

On Thu, Feb 2, 2012 at 3:57 PM, Stefan Hoth
reply@reply.github.com
wrote:

[2012-02-02 18:52] #3 closed, assigned to keyboardsurfer

[2012-02-04 20:00] stefanhoth commented on #59
Funzt

[2012-02-04 20:00] #59 closed, assigned to nobody

[2012-02-06 18:06] mrschtief commented on #35
Ich hab jetzt badges für 10 30 60 80 und 100 vermietete Wohnungen drin

[2012-02-08 15:32] mrschtief commented on #17
setze ich gerade mit http://www.patrick-wied.at/static/heatmapjs/demo/maps_heatmap_layer/gmaps.php um

[2012-02-08 15:39] mrschtief commented on #17
Datenformat :

{ max: 46, data: [{lat: 33.5363, lng:-117.044, count: 1},...] }

[2012-02-09 18:17] mrschtief commented on #52
Fehler trat heute bei IS24 auf, die benutzen firefox O_o und da steht in der console:

Fehler: setting a property that has only a getter
Quelldatei: http://immopoly.org/js/interactive.js
Zeile: 133
        history = jsonData["org.immopoly.common.History"];

können wir damit was anfangen?

[2012-02-09 19:19] stefanhoth commented on #52
Oh man, ich habe den Fehler dank dieser Meldung gefunden und nun läuft es sogar wieder auf dem Android.

Es war so einfach: Eine lokale Variable hieß "history", was in manchen Browsern (Android, Firefox) eine globale read-only Variable ist. Daher kam das Script ins stolpern, wenn es die History-Tabelle aufbauen sollte auf diesen Browsern.

Schön dass es gefixt ist.

[2012-02-09 19:19] #52 closed, assigned to stefanhoth

[2012-02-09 20:45] mrschtief commented on #52
yeah!!!!!!!

2012/2/9 Stefan Hoth
reply@reply.github.com:

[2012-02-09 20:49] mrschtief commented on #17
alle mal staunen...

http://immopoly.appspot.com/heatmap.html

stevie baut das noch in die richtige website unter statistik ein

[2012-02-09 23:02] stefanhoth commented on #17
@mrschtief & ich: Haben seine Demo zusammen in die Livestats übertragen. Es ist live und sieht fucking awesome aus!

http://immopoly.org/livestats.html

[2012-02-09 23:02] #17 closed, assigned to stefanhoth

[2012-02-12 20:27] stefanhoth commented on #58
Das könnte hier erklärt werden: http://immopoly.org/description.html

[2012-02-21 22:22] yncyrydybyl opened #60 "auf dem iphone 4 werden keine wohnungen angezeigt"
bis jetzt noch keine idee woran es liegen kann.

[2012-03-06 19:42] jukey opened #61 "Android alpha version not installable on HC Desire Z running Android 2.3.3"
The package installer shows an Error: No installed

Any idea for investigation?

[2012-03-06 23:26] keyboardsurfer commented on #61
Plug it into your development machine's USB-port, type `adb logcat` repeat the installation process and post the result here.

[2012-03-08 11:21] mrschtief commented on #61
maybe you have an old version installed? try removing first

[2012-03-09 08:32] jukey commented on #61
You are right removing the old version first and installing the new version second worked fine

[2012-03-09 08:32] #61 closed, assigned to nobody

[2012-03-09 11:00] jukey opened #62 "Put explanation: "remove older versons first" next to the "Download der ALPHA-Version" button"
At the moment there is a text next to the button:
"Achtung! Diese Version ist top-aktuell und beinhaltet damit die neuesten Funktionen und Layouts. Da sie aber noch nicht ausreichend getestet ist, kann es zu Abstürzen oder anderen Fehlfunktionen kommen. Wenn Du Fehler findest, hilfst Du uns sehr, wenn Du diese meldest."

suggestion for a version that explains better that uninstalling is neacessary

[2012-03-09 11:08] jukey opened #63 "Please explain the colors and different types of icons used on the map view in the Android ALPHA"
At the moment there are uses at least three different versions of orange colors to mark objects as available, free and so on.

I am missing an explanation what the icons mean. Please document this at least on the website or even better: in the game itself.

[2012-03-16 16:24] ghost opened #64 "Meldung bei versuchter Übernahme der 51. Wohnung"
Der Versuch die 51. Wohnung zu übernehmen wird mit der Meldung <b>"Can't create handler inside thread that has not called Looper.prepare()"</b> quittiert. <i>(Android)</i>

[2012-03-16 16:40] ghost opened #65 "evtl. fehlerhafte Anzeige?"
Teilweise werden nicht alle Wohnungen aus dem Portfolio als solche angezeigt. Bspw. kann ich bei der Wohnung mit der Scout-ID: 63797982 eine "Übernahme versuchen" und erhalte die Meldung: <i>Die Wohnung ist bereits in deinem Portfolio!</i> - "Wohnung abgeben" ist gar nicht möglich. <i>(Android)</i>

[2012-03-20 14:40] tobibo opened #66 "Spiel Idee/ Anfänger Erleichterungen"
@_mieze_mau man sollte handeln können. Ich biete Wohnung XY aus meinem Inventar plus 200€ für die vergebene Wohnung... und außerdem können Wohnungen entfremdet werden, wenn sich der Besitzer X Tage nicht einloggt...

[2012-03-25 23:13] yncyrydybyl opened #67 "start from the scratch doku"
https://github.com/immopoly/immopoly/wiki/GettingStarted muss noch kompletter werden.

[2012-03-29 07:34] K2DaC opened #68 "Doppelte Anzahl der gemieteten Wohnungen - Bug"
Gelegentlich habe ich einen Bug, der dazu führt, dass alle gemieteten Wohnungen doppelt angezeigt werden.
Sowohl im Info PopUp, als auch in der Liste.

Screen PopUp : http://podkowik.tk/immobug.png (78 / 50 Wohnungen, die hab ich devinitiv nicht)
Screen Liste : http://podkowik.tk/doppelt-immo.png (Alle Wohnungen sind doppelt, nicht untereinandern, sondern wahllos)

Hoffe mir wird nicht auch die Mi

[2012-04-02 08:34] mrschtief commented on #68
wurde gefixt, Danke für den Report. Bitte mal die neue Alpha Version von immopoly.org/donwload holen

https://github.com/immopoly/android/issues/72

[2012-04-02 08:34] #68 closed, assigned to nobody

[2012-04-02 08:35] mrschtief commented on #64
fixed in
https://github.com/immopoly/android/issues/63

Danke für den Report,

[2012-04-02 08:35] #64 closed, assigned to nobody

[2012-04-02 08:36] mrschtief commented on #62
deinstallieren ist nicht nötig, da gleicher Key wie auf dem market

[2012-04-02 08:36] #62 closed, assigned to stefanhoth

[2012-04-02 08:37] mrschtief commented on #55
History habe ich vor langer zeit angeopasst

[2012-04-02 08:37] #55 closed, assigned to mrschtief

[2012-04-02 08:37] mrschtief commented on #35
10 badges sind mittlerweile erstellt

[2012-04-02 08:37] #35 closed, assigned to nobody

[2012-04-02 08:42] stefanhoth commented on #62
Mittlerweile stimmt das und daher denke ich, dass der Hinweis nicht mehr nötig ist. Mit einer sehr alten Version könnte aber eine Deinstallation notwendig sein.

Danke @jukey.

[2012-04-06 12:48] ghost commented on #65
[Update]: Sorry - besagte Wohnungen sind tatsächlich nicht im Portfolio, doch warum dann diese Meldung? Zudem erhalte ich Belohnungen für Wohnungen, die ich nicht mehr im Portfolio habe (ups - verraten).

[2012-04-06 12:51] ghost opened #69 "Benachrichtigungen & Android 4.0.4"
Seit dem Update auf 4.0.4 werden keine Benachrichtigungen mehr angezeigt (- kann das sein?).

[2012-04-08 09:25] yncyrydybyl opened #70 "zipalign auf bottler"
Das von bottler generierte Paket ist nicht zipaligned.

"zipalign -c -v 4 target/immopoly-android-aligned.apk " schlägt fehlt.

im console.log sieht es aber gut aus.

[2012-04-18 09:21] yncyrydybyl opened #71 "wohnung tauschen"
ich moechte einem bestimmten user einer wohnung aus meinem portfolio anbieten.
gegen eine zahlung von x euro

[2012-11-14 19:48] keyboardsurfer opened #72 "Wir brauchen mehr iPhone Entwickler"

[2012-11-14 19:59] keyboardsurfer commented on #72
Evtl in der HTW anfragen.

[2012-11-14 20:05] keyboardsurfer commented on #70
Ausserdem müssen Builds gefixt werden.

[2012-11-14 20:06] keyboardsurfer commented on #69
C2DM ist tot, lang lebe GCM.
Es kann sein, dass es ein Problem damit gibt.
Wir kümmern uns drum (tm)

[2012-11-14 20:09] keyboardsurfer commented on #66
duplicate of #71

[2012-11-14 20:13] keyboardsurfer commented on #65
Viel Spaß mit den Belohnungen. Danke fürs Melden. Wenn's stört bitte erneut [hier melden](https://github.com/immopoly/android/issues/new).

[2012-11-14 20:13] #65 closed, assigned to nobody

[2012-11-14 20:15] #60 closed, assigned to nobody

[2012-11-14 20:18] #58 closed, assigned to nobody

[2012-11-14 20:19] #43 closed, assigned to nobody

[2012-11-14 20:19] keyboardsurfer commented on #34
Backend wird neu geschrieben.

[2012-11-14 20:19] #34 closed, assigned to nobody

[2012-11-14 20:20] #31 closed, assigned to mrschtief

[2012-11-14 20:21] keyboardsurfer commented on #31
tl'dr

[2012-11-14 20:22] keyboardsurfer commented on #27
Backend wird neu geschrieben.

[2012-11-14 20:22] #27 closed, assigned to nobody

[2012-11-14 20:22] keyboardsurfer commented on #26
Ist AFAIK implementiert.

[2012-11-14 20:22] #26 closed, assigned to mrschtief

[2012-11-14 20:23] keyboardsurfer commented on #18
Das Backend wird neu geschrieben.

[2016-11-01 08:47] #67 closed, assigned to yncyrydybyl